<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Java 06 Project</title>

 		<!-- Google font -->
		 <link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,500,700}" rel="stylesheet">

		 <!--		Icon-->
				 <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}" rel="stylesheet">
		 
				 <!-- Bootstrap -->
				 <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
		 
				 <!-- Slick -->
				 <link type="text/css" rel="stylesheet" th:href="@{/css/slick.css}"/>
				 <link type="text/css" rel="stylesheet" th:href="@{/css/slick-theme.css}"/>
		 
				 <!-- nouislider -->
				 <link type="text/css" rel="stylesheet" th:href="@{/css/nouislider.min.css}"/>
		 
				 <!-- Font Awesome Icon -->
				 <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
		 
				 <!-- Custom stlylesheet -->
				 <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>


		<!--		CDN AngularJS-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

		<style>

			.product-img img {
			max-width: 100%;
			height: auto;
			}

			.product-name {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			}

		</style>

    </head>
	<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
		<!-- HEADER -->
		<header  th:replace="/layout/header.html">
		
		</header>
		

		

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Categories</h3>
							<div class="checkbox-filter" th:replace="/layout/category.html">

							</div>
						</div>
						<!-- /aside Widget -->

					</div>
					<!-- PAGE LIST PRODUCT -->

					<div id="store" class="col-md-9">

						<!--/*@thymesVar id="content" type=""*/-->
						<div class="store-pagination">
							<div class="row">
								<div class=" col-sm-4" th:each="p, iterStat : ${pageProduct.content}">
									<div class="product poly-item" style="max-height: 330px;">
										<div class="product-img">
											<img th:src="@{|/img/${p.image}|}" alt="" style=" height: 150px; max-width: 95%;">
										</div>
										<div class="product-body">
											<h3 class="product-name ">
												<a th:href="@{|/product/detail/${p.id}|}" >[[${p.name}]]</a>
											</h3>
											<h4 class="product-price" >$ [[${p.price}]]</h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
												<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
												<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp"><a th:href="@{|/product/detail/${p.id}|}">quick view</a></span></button>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn" th:attr="ng-click=@{|cart.add(${p.id})|}"

											><i class="fa fa-shopping-cart"></i> <a href="">add to cart</a></button>
										</div>
									</div>
								</div>
								<div class="clearfix visible-sm visible-xs"></div>
							</div>
						</div>


						<!-- store bottom filter -->
						<div class="store-filter clearfix">
							<span class="store-qty">Showing 20-100 products</span>
							<ul class="store-pagination">
								<li th:if="${pageProduct.number > 0}">
									<a th:href="@{|/product/store?page=${pageProduct.number - 1}|}">
										<i class="fa fa-angle-left"></i>
									</a>
								</li>

								<li class="active" th:text="${pageProduct.number + 1}"></li>

								<li th:if="${pageProduct.number + 1 < pageProduct.totalPages}">
									<a th:href="@{|/product/store?page=${pageProduct.number + 1}|}">
										<i class="fa fa-angle-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer" th:replace="/layout/footer.html">

		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/slick.min.js}"></script>
		<script th:src="@{/js/nouislider.min.js}"></script>
		<script th:src="@{/js/jquery.zoom.min.js}"></script>
		<script th:src="@{/js/main.js}"></script>

		<script src="/js/shopping-cart-app.js"></script>
	</body>
</html>
