<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Java 06 Project</title>

		<!-- Google font -->
		<link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,500,700}" rel="stylesheet">

<!--		Icon-->
		<link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" th:href="@{/css/slick.css}"/>
		<link type="text/css" rel="stylesheet" th:href="@{/css/slick-theme.css}"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" th:href="@{/css/nouislider.min.css}"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>

<!--		CDN AngularJS-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>


    </head>
	<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
		<!-- HEADER -->
		<header th:replace="/layout/header.html">
	
		</header>

<!--		Main-->
			<div th:replace="${main}">

			</div>


		<!-- FOOTER -->
<footer  id="footer"  th:replace="/layout/footer.html">
   
</footer>

		<!-- jQuery Plugins -->
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/slick.min.js}"></script>
		<script th:src="@{/js/nouislider.min.js}"></script>
		<script th:src="@{/js/jquery.zoom.min.js}"></script>
		<script th:src="@{/js/main.js}"></script>

		<script src="/js/shopping-cart-app.js"></script>

	</body>
</html>
