<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/index :: dynamic(~{ :: main})}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> Java 06 Project</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <!--		CDN AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>



</head>
<body>
    <main class="container">

        <div class="card " style="margin-top: 30px;margin-bottom: 30px;">
            <div class="card-header bg-primary">
                <h1 class="text-white">Shoppring Cart</h1>
            </div>
            <div class="card-body">
                <table class="table table-bordered ">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in cart.items">
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.name}}</td>
                        <td><img ng-src="/img/{{ item.image }}" style="width: 50px; height: auto;"></td>
                        <td>{{item.price | number : 2}}</td>
                        <td><input ng-change="cart.saveToLocalStorage()" ng-model="item.qty" type="number" min="1" style="width: 50px"></td>
                        <td>{{item.qty * item.price | number :2}}</td>
                        <td>
                            <button ng-click="cart.remove(item.id)" type="button" class="btn btn-danger">
                                <i class="fas fa-trash-alt text-danger"></i>
                            </button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="card-footer ">
                <button ng-click="cart.clear()" type="button" class="btn btn-danger"><i class="fas fa-trash-alt text-danger"></i> Clear  </button>
                <button type="button" class="btn btn-success"><a th:href="@{/order/checkout}">Check Out</a></button>
            </div>
        </div>


    </main>
</body>
</html>